*{
    margin: 0px;
}

:root{
    background-color: #ddd;
}

.flex {
    display: flex;
}


/* Navigation bar */

.navbar{
    height: 55px;
    background-color: #bbb;
}

.logo{
    height: 45px;
    margin-top: 3px;
    margin-left: 20px;
}

.div-nav-icon{
    width: 60%;
    margin: 14px;
    /* justify-content: space-evenly; */
}

.div-login{
    width: 30%;
    justify-content: end;
    margin: 14px;
    margin-right: 20px;
}

.border{
    padding:  4px 16px;
    margin: 0 2px;
    border: transparent solid 2px;
}

.border:hover{
    cursor: pointer;
    border-radius: 4px;
    border-color: #333;
}

.nav-icon{
    margin: 0px 20px;
}

.fa-solid{
    margin-left: 8px;
}

.click{
    > .di{
        display: none;
    }
}


/* New Launch Banner */

.newLaunch{
    position: relative;
}

.lau{
    position: absolute;
    font-weight: 900;
    top: 50px;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);


}

.hit{
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.button{
    padding: 5px 10px;
    margin-top: 2px;
    color: #fff;
    background-color: #8183af;
    border: 2px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    background-color: #fdd037;
    color: #000;
}

.ban{
    width: 100%;
}