*{
    margin: 0px;
}

body{
    background-color: var(--primary-back-color);
}

:root{
    --primary-text-color : #000;
    --primary-back-color: #ddd;
    --secondary-back-color: #bbb;
    --bor: #aaa;
}

.dark{
    --primary-text-color : #ffffff;
    --primary-back-color: #2e424d;
    --secondary-back-color: #5b8291;
    --bor: #2e424d;
}

.flex {
    display: flex;
}

p{
    color: var(--primary-text-color);
}


/* Navigation bar */

.navbar{
    height: 55px;
    background-color: var(--primary-back-color);
}

.logo{
    height: 45px;
    margin-top: 3px;
    margin-left: 20px;
}

.div-nav-icon{
    width: 60%;
    margin: 14px;
}

.div-login{
    width: 30%;
    justify-content: end;
    margin: 14px;
    margin-right: 20px;
}

.border{
    padding:  4px 16px;
    margin: 0 2px;
    border: transparent solid 2px;
}

.border:hover{
    cursor: pointer;
    border-radius: 4px;
    border-color: #333;
}

.nav-icon{
    margin: 0px 20px;
}

.fa-solid{
    color: var(--primary-text-color);
    margin-left: 8px;
}

.click{
    > .di{
        display: none;
    }
}

.material-symbols-outlined {
    color: var(--primary-text-color);
    margin-left: 8px;
}



/* New Launch Banner */

.newLaunch{
    position: relative;
}

.lau{
    background-color: transparent;
    position: absolute;
    font-weight: 900;
    top: 50px;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
}

.hit{
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.button{
    padding: 5px 10px;
    margin-top: 2px;
    color: #fff;
    background-color: #8183af;
    border: 2px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    background-color: #fdd037;
    color: #000;
}

.ban{
    width: 100%;
}

/* Main Cards */

.main{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: wrap; */
}

.card{
    width: 280px;
    background-color: var(--secondary-back-color);
    border: transparent solid 3px;
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
}

.heading{
    color: var(--primary-text-color);
    text-align: center;
    margin-bottom: 10px;
}

.dis {
    text-align: center;
}

.bor {
    border: transparent solid 2px;
    background-color: var(--bor);
    padding: 4px 8px;
    border-radius: 10px;
}